$color-danger:rgba(red,0.8);

.field{
    margin-bottom: 0.75rem ;
}

.form-control{

    .error-message{
        color:$color-danger;   
        font-size: small;
        font-style: italic;
        
        strong{
            color:$color-danger;   
        }
    }
}

.ng-invalid.ng-dirty.ng-touched{
    border: 2px solid $color-danger;
}
